

{% include 'userheader.html' %}
{% load static %}
<style>
    .add-to-cart-button {
        background-color: #5392b654; /* Pale Green */
        color: #000; /* Text color */
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        margin-left: -50px; /* Add some space between the name and the button */
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-to-cart-button:hover {
        background-color: #16547770; /* Slightly darker on hover */
    }
</style>
    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="{% static 'homepage/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Car Listing</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'homepage'%}"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        <div class="car__search">
                            <h5>Car Search</h5>
                            <form action="{% url 'car' %}" method="post">
                                {% csrf_token %}
                                <input type="text" placeholder="Search..." name="cname">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="car__filter">
                            <h5>Car Filter</h5>
                            <form action="#">
                                <select id="brandSelect">
                                    <option data-display="Brand">Select Brand</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.b_name }}</option>
                                    {% endfor %}
                                </select>
                                
                                <select id="modelSelect">
                                    <option data-display="Model">Select Model</option>
                                </select>
                                
                                
                                <select>
                                    <option value="">Engine</option>
                                    <option value="">BS3</option>
                                    <option value="">BS4</option>
                                    <option value="">BS5</option>
                                    <option value="">BS6</option>
                                </select>
                                <select>
                                    <option value="">Colors</option>
                                    {% for color in color %}
                                        <option value="{{ color}}">{{ color }}</option>
                                    {% endfor %}
                                </select>
                                <div class="filter-price">
                                    <p>Price:</p>
                                    <div class="price-range-wrap">
                                        <div class="filter-price-range"></div>
                                        <div class="range-slider">
                                            <div class="price-input">
                                                <input type="text" id="filterAmount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="car__filter__btn">
                                    <button type="submit" class="site-btn">Reset FIlter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="car__filter__option">
                        <div class="row">
                            {% comment %} <div class="col-lg-6 col-md-6">
                                <div class="car__filter__option__item">
                                    <h6>Show On Page</h6>
                                    <select>
                                        <option value="">9 Car</option>
                                        <option value="">15 Car</option>
                                        <option value="">20 Car</option>
                                    </select>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-lg-12 col-md-6">
                                <div class="car__filter__option__item car__filter__option__item--right">
                                    <h6>Sort By Price</h6>
                                    <select id="sort-cars" onchange="sortCars()">
                                        <option value="highest">Select</option>
                                        <option value="lowest" {% if sort_param == 'lowest' %}selected{% endif %}>Price: Lowest First</option>
                                        <option value="highest" {% if sort_param == 'highest' %}selected{% endif %}>Price: Highest First</option>
                                    </select>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for car in cars1 %}
                        <div class="col-lg-4 col-md-3">
                                <div class="car__item">
                                    <div class="car__item__pic__slider owl-carousel">
                                        <img src={{ car.image.url }} alt={{ car.image }}>
                                        {% if car.image1 %}
                                           <img src="{{ car.image1.url }}" alt="{{ car.name }}">
                                        {% endif %}
                                        {% if car.image2 %}
                                           <img src="{{ car.image2.url }}" alt="{{ car.name }}">
                                        {% endif %}
                                        {% if car.image3 %}
                                           <img src="{{ car.image3.url }}" alt="{{ car.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="car__item__text">
                                        <div class="car__item__text__inner">
                                            <div class="label-date"></div>

                                            <button  class="add-to-cart-button" ><a href="{% url  'carts' car.id  %}" > Add to cart</a></button>
                                            
                                            <button   style="margin-left:63px" class="add-to-cart-button" ><a href="{% url  'vehiclepayment' car.id  %}" >Book Car</a></button>

                                                {% comment %} class="add-to-cart-button">Add to <i class="fa fa-cart-plus"></i></button> {% endcomment %}
                                            {% comment %} <form action="{% url 'cart' %}" method='POST'>
                                                {% csrf_token %}
                                                <input type="hidden" name="carnamehidden" value="{{car.id}}">
                                                <button type='submit'
                                                class="add-to-cart-button">Add to <i class="fa fa-cart-plus"></i></button>
                                            </form> {% endcomment %}
                                             
                                            <h5><a href="#">{{car.name}}</a> </h5>   

                                            
                                            <ul>
                                                <li><span>{{ car.fueltype}}</span></li>
                                                <li><span>{{car.mileagae}}</span></li>
                                                <li><span>{{car.gear_type}}</span></li>
                                            </ul>
                                        </div>
                                        <div class="car__item__price">
                                            <span class="{% if car.purpose == 'For Sale' %} car-option sale {% else%} car-option {% endif %} ">{{car.purpose}}</span>

                                            <h6><span>
                                                    
                                                    {% if car.purpose == 'For Sale' %}
                                                        Rs.{{car.price}}
                                                    {% else %}
                                                        Rs.{{car.price}}/Day
                                                    {% endif %} 
                                                    

                                            </span></h6>

                                            
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                         
                         
                    <div class="pagination__option">
                        {% if cars1.has_previous %}
                          {% comment %} <a href="?page=1">1</a> {% endcomment %}
                          <a href="?page={{ cars1.previous_page_number }}">Back</a>
                        {% endif %}
                        {% for page_number in cars1.paginator.page_range %}
                           <a href="?page={{ page_number }}" {% if page_number == cars1.number %}class="active"{% endif %}>{{ page_number }}</a>
                        {% endfor %}
                        {% if cars1.has_next %}
                           <a href="?page={{ cars1.next_page_number }}">Next</a>
                           {% comment %} <a href="?page={{ cars1.paginator.num_pages }}">{{ cars1.paginator.num_pages }}</a> {% endcomment %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Car Section End -->

 

    {% comment %} For filtering lowest and highest {% endcomment %}
    <script>
        function sortCars() {
            console.log("sortCars function called"); // Add this line for debugging
            var selectElement = document.getElementById('sort-cars');
            var selectedValue = selectElement.options[selectElement.selectedIndex].value;
            {% comment %} var sortUrl = '?sort=' + selectedValue; {% endcomment %}
            var sortUrl = '{% url 'car-listing-sort' %}?sort=' + selectedValue;
            console.log("sortUrl:", sortUrl); // Add this line for debugging
            window.location.href = sortUrl;  // Redirect to the new URL with the sorting parameter
        }


        
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <script type="text/javascript">

        $(document).ready(function() {
                $("#brandSelect").change(function(){
        
                    
                    id = $('#brandSelect option:selected').val();
                    alert(id);
        
                     let request_url = "{% url 'getbrandmodels' %}"; 
        
                 $.ajax(
                    {
                        type:"GET",
                        datatype: 'json',
                        url: request_url,
                        data:{
                                 brand_id: id
                        },
                        success: function( data )
                        {
                           console.log(data);
        
                        },
        
              errors: function (e) {
        
                      }
             })
        
                })
            })
        
         
        </script>

        

        
   
  
{% include 'userfooter.html' %}

 